/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.headcont {
  background-color: #927e7e;
  color: #fff;
  position: relative;
  height: 136px;
  width: 100%;
  padding: 61px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headcont a {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-left: 30px;
}
.headcont .LOGO123 {
  width: 35%;
}
.headcont .icon1 {
  color: #000;
  font-size: 25px;
}

section .mountains {
  height: 806PX;
  background-image: url("/tbilisi-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .mountains h2 {
  font-size: 79px;
  font-weight: 700;
  margin-bottom: 31px;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
section .mountains p {
  font-size: 26px;
  color: #FFF;
}
section .mountains a {
  margin: 40px;
  width: 200px;
  height: 68px;
  background-color: rgba(187, 116, 24, 0.856);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 26px;
  border-radius: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .line {
  display: flex;
  margin-top: 98px;
  gap: 13px;
  align-items: center;
  margin-bottom: 102px;
}
.container .line .leftline {
  height: 1px;
  width: 253px;
  background-color: #000;
}
.container .line .rightline {
  height: 1px;
  width: 253px;
  background-color: #000;
}
.container .line h2 {
  color: #000;
  font-family: georgia;
  font-size: 36px;
  font-weight: 400;
}
.container .boxx {
  gap: 45px;
  display: flex;
  justify-content: center;
}
.container .boxx img {
  width: 324px;
  height: 324px;
  display: flex;
}
.container .boxx h3 {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 400;
}

footer {
  width: 100%;
  height: 430px;
  background: #E4E4E4;
}
footer .left {
  padding-left: 54px;
  padding-top: 35px;
  padding-bottom: 24px;
}
footer .left img {
  margin-bottom: 44px;
}
footer .left ul li {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 17px;
}
footer .left .Geo {
  display: flex;
  gap: 14px;
  margin-top: 50px;
  align-items: center;
}
footer .left .Geo i {
  font-size: 28px;
}
footer .left .Geo p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.SinginN1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/photos/Georgian_Fortress_Ananuri.jpg) no-repeat;
  background-size: cover;
  background-position: cover;
}
.SinginN1 .wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}
.SinginN1 .wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.SinginN1 .wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.SinginN1 .wrapper .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.SinginN1 .wrapper .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.SinginN1 .wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.SinginN1 .wrapper .remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.SinginN1 .wrapper .remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.SinginN1 .wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.SinginN1 .wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.SinginN1 .wrapper .register-link p {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.SinginN1 .wrapper .register-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.input-box input::-moz-placeholder {
  color: #fff;
}

.input-box input::placeholder {
  color: #fff;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.register-link p a:hover {
  text-decoration: underline;
}

.boxx2 {
  display: flex;
}
.boxx2 .backbox {
  height: 655px;
  background-image: url("/photos/skiing-bakuriani.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
}
.boxx2 .backbox h2 {
  font-size: 79px;
  font-weight: 700;
  margin-bottom: 31px;
  justify-content: center;
  align-items: center;
  color: #000000;
}
.boxx2 .backbox p {
  font-size: 26px;
  color: #000000;
}

.container .boxxx1 {
  gap: 45px;
  display: flex;
  justify-content: center;
}
.container .boxxx1 img {
  width: 324px;
  height: 324px;
  display: flex;
}
.container .boxxx1 h3 {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 400;
}
.container .boxxx1 p {
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-weight: 400;
  margin-top: 10px;
}
.container .boxxx2 {
  gap: 45px;
  display: flex;
  justify-content: center;
}
.container .boxxx2 img {
  width: 324px;
  height: 324px;
  display: flex;
}
.container .boxxx2 h3 {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 400;
}
.container .boxxx2 p {
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-weight: 400;
  margin-top: 10px;
}/*# sourceMappingURL=global.css.map */